# Android wrapper project
*.idea
*.iml

# release scripts bytecode
*.pyc

# extra logging from build and export scripts
scripts/*log.txt

# internal SDK submodules
mopub-android/
mopub-ios/

# internal scripts
scripts/private/
