# Android wrapper project
*.idea
*.iml

# release scripts bytecode
*.pyc

# extra logging from export script and test runs
scripts/*log.txt
scripts/test*.*

# MacOS meta files
*.DS_Store
# internal SDK submodules
mopub-android/
mopub-ios/

# internal scripts
scripts/private/
